<%- include('includes/head.ejs') %> <%- include('includes/nav.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Contact List 📘</h1>
      <p class="text-center lead">See your contacts below</p>

      <div class="row">
        <div class="col my-3">
          <div class="alert alert-danger">Some random error</div>
        </div>
      </div>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Nic</td>
            <td>Lima</td>
            <td>3213123312</td>
            <td>nic@nic.com</td>
          </tr>
          <tr>
            <td>Nic</td>
            <td>Lima</td>
            <td>3213123312</td>
            <td>nic@nic.com</td>
          </tr>
          <tr>
            <td>Nic</td>
            <td>Lima</td>
            <td>3213123312</td>
            <td>nic@nic.com</td>
          </tr>
          <tr>
            <td>Nic</td>
            <td>Lima</td>
            <td>3213123312</td>
            <td>nic@nic.com</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer.ejs') %>
