<%- include('includes/head') %>
<section class="container">
  <form action="/" method="POST">
    <h1><%= csrfToken %></h1>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <label for="input-teste-1">label teste #1</label>
    <input type="text" id="input-teste-1" name="name" />

    <label for="input-teste-2">label teste #2</label>
    <input type="text" id="input-teste-2" name="surname" />

    <button>Submit</button>
  </form>
</section>

<%- include('includes/footer') %>
